@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(238, 238, 238);
}

h1 {
  color: rgb(75, 124, 75);
  font-weight: 700;
}

h2 {
  color: rgb(95, 158, 95);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white
}

.profile-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.list-inline {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  padding: 20px 50px;
  margin: 10px;
}

.btn-green {
  background-color: rgb(139, 200, 139);
  padding: 8px 25px;
  border-radius: 4px;
}

.btn-green:hover {
  background-color: rgb(95, 158, 95);
}

.social-icon {
  color: rgb(139, 200, 139);
  font-size: 40px;
}

.social-icon:hover {
  font-size: 40px;
  color: rgb(95, 158, 95);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
